@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: transparent !important;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

html {
  background: transparent !important;
}
